#
# SPDX-License-Identifier: Apache-2.0
#

* @nhoriguchi @ynamiki

/api/ @sergefdrv @nhoriguchi
/client/ @sergefdrv @nhoriguchi
/core/ @sergefdrv @nhoriguchi
/messages/ @sergefdrv @nhoriguchi
/sample/ @sergefdrv @nhoriguchi
/usig/ @sergefdrv @nhoriguchi
