* @Naoya-Horiguchi @ynamiki

/api/ @sergefdrv @Naoya-Horiguchi
/client/ @sergefdrv @Naoya-Horiguchi
/core/ @sergefdrv @Naoya-Horiguchi
/messages/ @sergefdrv @Naoya-Horiguchi
/sample/ @sergefdrv @Naoya-Horiguchi
/usig/ @sergefdrv @Naoya-Horiguchi
